<div
  class="modal fade"
  id="modalEliminarEspecialidad"
  tabindex="-1"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content delete-modal">

      <div class="delete-icon-wrapper">

        <div class="delete-icon">
          <i class="bi bi-trash"></i>
        </div>

      </div>

      <div class="modal-body text-center">

        <h2 class="delete-title">
          Eliminar Especialidad
        </h2>

        <p class="delete-description">

          Esta acción cambiará el estado
          de la especialidad a inactivo.

        </p>

      </div>

      <div class="modal-footer delete-footer">

        <button
          type="button"
          class="btn btn-light btn-lg"
          data-bs-dismiss="modal">

          Cancelar

        </button>

        <button
          type="button"
          class="btn btn-danger btn-lg"
          onclick="confirmarEliminarEspecialidad()">

          <i class="bi bi-trash"></i>
          Eliminar

        </button>

      </div>

    </div>
  </div>
</div>